


<div class="container">
<div class="row">
<h1>Guidance for Managers</h1>



<div class="blog-post">
<h2 class="blog-post-title">
Summary reports
</h2>
<p>
These detail the attendance for the next 3, 8 and four weeks. They are available to the public (no login is required) and will refresh automatically as changes to the sessions are made. 
</p>
</div>


<div class="blog-post">
<h2 class="blog-post-title">
Adding a member
</h2>
<p>
Unless a user has logged in to the pages they will only see the summary views (three and eight day and four week summarys), and
before a user can login they must be provided with an account.  To do so a manager must select 'Users + Rotas' from the 'Manage' menu, then click on the 'add user' button and fill in their details. Only provide the 'Manager' role to members who will be adding / editing rotas, schedules and member records.
</p>
</div>


<div class="blog-post">
<h2 class="blog-post-title">
Adding a rota
</h2>
<p>
Before a member can be assigned a session on a rota both the member and rota must exist within the system. To create a new rota a manager must choose 'Users + Rotas' from the 'Manage' menu. Then click on 'Add rota' and fill in the rota details. 
Please note that the code used for the rota cannot be changed and this code will be generally used to reference the rota throughout the application, 
it is therefore wise to choose a sensible code for your rota which can provide a meaning to users.
</p>
</div>

<div class="blog-post">
<h2 class="blog-post-title">
Setting up sessions
</h2>
<p>
When setting up a session a member must be assigned to it. Multiple sessions for a rota + day combination can exists however the system can only cope with one session for a particular user + rota + date. Sessions can be added though-out the year and there are several tools that can be used to bulk populate the sessions.  To setup sessions select 'Schedules' from the 'Manage' menu. Choose the particular rota you wish to add sessions to there are then four choices:

<ol>
	<li>'Add member' - click to add an individual session record for a user.</li>
	<li>'Repeat a selection'  - select the start and end dates you wish to repeat then the start and end dates (whose period does not have to match the former) and the session will be repeated until the end of the chosen period.</li>
	<li>'Create a shifting pattern' - select the order with which you wish to repeat members and the days that are used in the rota.  The days will then be populated with the users in order until the end of the selected period.</li>
	<li>'Remove a selection' - remove all the sessions in the selected period, note that all swap and offer up rquests must be resolved before this will action.</li>
</ol>

</p>
<p> 
Tip: If you wish to setup pairs in a shifting pattern split the process into two by creating a shifting pattern for all the first half of the pairs then repeat for the members of teh second half.
</p>
<p>
Tip: If you wish to setup a 'first come first served' rota, generate all the sessions in your name then offer them all up so that any member can take that session.
</p>
</div>

<div class="blog-post">
<h2 class="blog-post-title">
Swaps vs Offering up
</h2>
<p>
A member who has a session can either negotiate a swap (in person) with another member on the same rota then go through the formal process of swapping their session via the 'Swap' page.  Or in extreme circumstances they can 'offer up' the session, which will allow any member from any rota to take the session.  
</p>
</div>

<div class="blog-post">
<h2 class="blog-post-title">
Making swaps
</h2>
<p>
When registering a swap (via the 'swap' page) one member must select either the session they wish to swap or select the members session they wish to swap with.  
Both the managers and other members will receive a notification that a swap has been requested and the second member must log in to accept the swap.  
Until this swap has been accepted or declined the original sessions will exists however they will be highlighted as 'requested swap' and no other swapping actions can occur with these sessions.  
A similar principle exists for offering up sessions; until a user has taken the session the original member will still be assigned to it.
</p>
</div>

<div class="blog-post">
<h2 class="blog-post-title">
Offering up a sesison
</h2>
<p>
This will allow a member of any rota to take the session. 
It is actioned from the 'swap' page but rather than choosing a sesison to swap with 'Offer up' is chosen. 
Until somebody else takes the session it is still seen as the responsibility of the member who is currently assigned to it.
</p>
</div>
<div class="blog-post">
<h2 class="blog-post-title">
Actioning swaps 
</h2>
<p>
Managers have the ability to swap sessions between users,  and accepting / declining swaps on behalf of others. A manger can do this via the 'Schedules' page found in the 'Manage' menu. 
</p>
<p>
If a request to swap has been made then the manager will be able to click on one of the sessions involved and choose 'Action this swap' or 'Remove this swap'.  
</p>
<p>
If a request to swap has not been made clicking on the session the manager will have options to 'Assign to another user', 'Swap with another user', or 'remove'.
</p>
</div>


<div class="blog-post">
<h2 class="blog-post-title">
Reporting on sessions
</h2>
<p>
A member can report on the sessions that they have/had during a period by visiting the 'Reports' page.  They will only see sessions that were associated to themselves.
</p>
<p>
A manager is able to report on all the sessions for a particular period by visiting the 'Reports' page found in the 'Manage' menu.
</p>

For both reports the rota and sessions that the users have been assigned to will be returned, along with the sums for rota - day combinations.
</div>





<div class="blog-post">
<h2 class="blog-post-title">
Configuring card access
</h2>
<p>
To use card login a touch screen client is recommended along with a (required) card reader.  The IP address of the card reader clients mmust be added to the config of the applicaton by an administrator for this to be available.
</p>
</div>

</div>

</div>