

	


	  
<div  ng-app="ScheduleManagementModule"  class="container">

<h3>
Setup rotas / modify the sessions
</h3>

<div class="table-responsive" ng-controller="MyScheduleController as myScheduleCtrl">

<script type="text/ng-template" id="modal-session-breakdown.html"> 
        <div class="modal-header">
            <h3>Session breakdown for {{ month(dates[8].getMonth()) }} - {{ dates[8].getFullYear() }}</h3>
        </div>
		<div class="modal-body">
		<table class="table-bordered" style="width:100%">
		<tr>
			<th>Name</th>
			<th>Mornings</th>
			<th>Evenings</th>
			<th>Night</th>
			<th></th>
			<th>Sat AM</th>
			<th>Sat PM</th>
			<th>Sun AM</th>
			<th>Sun PM</th>
			<th></th>
			<th></th>
			<th>Extras</th>
		</tr>
		<tr ng-show="rotacount[member.username]" ng-repeat="member in members | orderBy:'display_name'">
			<th>{{member.display_name}} ({{member.username}})</th>
			<td>{{ rotacount[member.username]['MOR'] }} </td>
			<td>{{ rotacount[member.username]['EVE'] }}</td>
			<td>{{ rotacount[member.username]['LEV'] }}</td>
			<td></td>
			<td>{{ rotacount[member.username]['WEA-A'] }}</td>
			<td>{{ rotacount[member.username]['WEP-A'] }}</td>
			<td>{{ rotacount[member.username]['WEA-U'] }}</td>
			<td>{{ rotacount[member.username]['WEP-U'] }}</td>
			<td></td>
			<td></td>
			<td>
				<span ng-show="rotacount[member.username ]['HOA']">{{ rotacount[member.username ]['HOA'] }}* HOA </span> 
				<span ng-show="rotacount[member.username ]['HOP']">{{ rotacount[member.username ]['HOP'] }}* HOP </span> 
				<span ng-show="rotacount[member.username ]['HOA-A']">{{ rotacount[member.username ]['HOA-A'] }}* HOA-A </span> 
				<span ng-show="rotacount[member.username ]['HOA-U']">{{ rotacount[member.username ]['HOA-U'] }}* HOA-U </span> 
				<span ng-show="rotacount[member.username ]['HOP-A']">{{ rotacount[member.username ]['HOP-A'] }}* HOP-A </span> 
				<span ng-show="rotacount[member.username ]['HOP-U']">{{ rotacount[member.username ]['HOP-U'] }}* HOP-U </span> 
			</td>
			</tr>
		
		</table>
		</div>
		<p>Please cut and paste names and days into the finance spreadsheet</p>
</script>
<!-- Replace user -->
<script type="text/ng-template" id="modal-replace-user.html"> 
        <div class="modal-header">
            <h3>Replace {{rota.rot_code}} shifts between users</h3>
        </div>
        <div class="modal-body">
	<form class="form-horizontal" name="form.replaceUserForm" ng-submit="submitForm()" novalidate>
		<div class="form-group">
			<label for="replace" class="control-label col-xs-2">Replace:</label>
			<div class="col-xs-8">
				<select id="replace" ng-model="session_member_from" class="form-control cols-xs-10"  ng-options='member as  member.display_name+" ("+member.username+")" for member in members track by member.username' required></select>
			</div>
		</div>
		<div class="form-group">
			<label for="with" class="control-label col-xs-2">With:</label>
			<div class="col-xs-8">
			<select id="with" ng-model="session_member_to" class="form-control"  ng-options='member as  member.display_name+" ("+member.username+")" for member in members track by member.username' required></select>
          <!--<pre>Selected date is: <em>{{dt | date:'fullDate' }}</em></pre>-->
			</div>
		</div>
		<div class="form-group">
		<div class="form-vertical">
		  <label for="from" class="control-label col-xs-2">From:</label>
            <div class="col-xs-8">
              <input id="from" type="text" class="form-control" datepicker-popup="dd-MMMM-yyyy" ng-model="from" is-open="opened" ng-required="true" close-text="Close" />             
            </div>
			<span class="input-group-btn">
				<button type="button" class="btn btn-default" ng-click="open($event)">
				<i class="glyphicon glyphicon-calendar"></i></button>
			</span>  
		</div>
		</div>
		<div class="form-group">
		  <label for="until" class="control-label col-xs-2">Until: </label>
            <div class="col-xs-8">
              <input id="until" type="text" class="form-control" datepicker-popup="dd-MMMM-yyyy" ng-model="until" is-open="opened1" ng-required="true" close-text="Close" />
            </div>
			<span class="input-group-btn">
              <button style="height:34px;" class="btn btn-default" ng-click="open1($event)">
              <i class="glyphicon glyphicon-calendar"></i></button> <b><- button not working</b>
            </span>
         </div>
	</form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-disabled="form.replaceUserForm.$invalid" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
</script>

<!-- Add a user to a rota -->
<script type="text/ng-template" id="modal-add-session.html">
	<div class="modal-header">
	<h2>Add session for {{rota.rot_code}} {{mydate.toDateString()}}  </h2>
	<br/>
	<form class="form-inline" name="form.sessionForm" ng-submit="submitForm()" novalidate>
	<div class="form-group">
	<select ng-model="session_member" class="form-control"  ng-options='member as  member.display_name+" ("+member.username+")" for member in members track by member.username' required>
	</select>
	</div>
        <button type="submit" class="btn btn-primary" ng-disabled="form.sessionForm.$invalid">Add</button>
	</form>
    <h3>Or</h3>
	
    <button type="submit" class="btn btn-primary" ng-click="cancel()">Cancel</button>
	
	</div>
</script>

<!-- Create a repeat -->
<script type="text/ng-template" id="modal-add-repeat.html">
	<div class="modal-header">
	<h2>Repeat sessions for {{rota.rot_code}} ({{ rota.rot_description }}) </h2>
	<br/>
	<form class="form-inline" name="form.repeatForm" ng-submit="submitForm(rota,$rootScope.repeat_start,$rootScope.repeat_end,$rootScope.repeat_begin,$rootScope.repeat_finish)" novalidate>
	<div class="form-group">
	<h4>Please select the period used to repeat:</h4>
		<p>
		<select ng-model="$rootScope.repeat_start"  ng-options="mydate as mydate.toDateString() for mydate in dates" required>
		</select> 
		to 
		<select ng-model="$rootScope.repeat_end" ng-options="mydate as mydate.toDateString() for mydate in datesAfter($rootScope.repeat_start)" required>
		</select> (inclusive)<br/>
		</p>
		<p>
		</p>
		<br/>
		<h4>Please select the period to repeat for</h4>
		<br/>
		<select ng-model="$rootScope.repeat_begin" ng-options="mydate as mydate.toDateString() for mydate in datesAfter($rootScope.repeat_end)" required>
		</select>
		to
		<select ng-model="$rootScope.repeat_finish" ng-options="mydate as mydate.toDateString() for mydate in datesAfter($rootScope.repeat_begin)" required>
		</select> (inclusive)<br/>
		
		<br/>
		<br/>
        <button type="submit" class="btn btn-success" ng-disabled="form.repeatForm.$invalid">Add</button>
		<button type="submit" class="btn btn-danger" ng-click="cancel()">Cancel</button>
	</div>
	</form>
	
	
	</div>
</script>

<!-- Delete a selection -->
<script type="text/ng-template" id="modal-del-repeat.html">
	<div class="modal-header">
	<h2>Delete sessions from {{rota.rot_code}} ({{ rota.rot_description }}) </h2>
	<br/>
	<form class="form-inline" name="form.delForm" ng-submit="submitForm(rota,$rootScope.del_start,$rootScope.del_end)" novalidate>
	<div class="form-group">
		<h4>Please select the beginning of the period:</h4>
		<p>
		<select ng-model="$rootScope.del_start"  ng-options="mydate as mydate.toDateString() for mydate in dates" required>
		</select> 
		to 
		<select ng-model="$rootScope.del_end" ng-options="mydate as mydate.toDateString() for mydate in datesAfter($rootScope.del_start)" required>
		</select> (inclusive)<br/>
		</p>
        <button type="submit" class="btn btn-success" ng-disabled="form.delForm.$invalid">Delete</button>
		<button type="submit" class="btn btn-danger" ng-click="cancel()">Cancel</button>
		<alert ng-repeat="error in errors">{{error}}</alert>
	</div>
	</form>
	</div>
</script>

<!-- Create a shifting rota -->
<!-- this will cope with a single shift pattern shifting, duets can be provided by repeating this process -->
<script type="text/ng-template" id="modal-add-shift.html">
	<div class="modal-header">
	<h2>Create a shifting pattern for {{rota.rot_code}} ({{ rota.rot_description }}) </h2>
	<br/>
	<form class="form-inline" name="form.shiftForm" ng-submit="submitForm(rota,lorder,rotadays,$rootScope.start,$rootScope.finish)" novalidate>
	<div class="form-group">
	<h4>Select the order of members:</h4>
		
		<span ng-repeat="member in members" ><span class="btn btn-success" ng-click="addToLorder(member)">{{ member.display_name }}</span></span>
		<br/>
		The members that will be included in the rota (click to remove):
		<dl>
			<dd ng-repeat="member in lorder track by member.id"><span class="btn btn-danger" ng-click="delFromLorder($index)">{{member.display_name}}</span></dd>
		</dl>
		
	<h4>Select the days to be used in the Rota</h4>
	
		<span ng-repeat="day in dayselect" ><span class="btn btn-success"  ng-click="addToRotadays(day)">{{ day.name }}</span></span>
		<br/>
		The days that will be included in the rota (click to remove):
		<dl>
			<dd ng-repeat="day in rotadays"><span class="btn btn-danger" ng-click="delFromRotadays(day)">{{day.name}}</button></dd>
		</dl>
	
	<h4>Please select the rota period:</h4>
		<p>
		<select ng-model="$rootScope.start"  ng-options="mydate as mydate.toDateString() for mydate in dates" required>
		</select> 
		to 
		<select ng-model="$rootScope.finish" ng-options="mydate as mydate.toDateString() for mydate in datesAfter($rootScope.start)" required>
		</select> (inclusive)<br/>
		</p>
        <button type="submit" class="btn btn-success" ng-disabled="form.shiftForm.$invalid">Create</button>
		<button type="submit" class="btn btn-danger" ng-click="cancel()">Cancel</button>
		<alert ng-repeat="error in errors">{{error}}</alert>
	</div>
	</form>
	</div>
</script>

<!-- Manage a Session -->
<script type="text/ng-template" id="modal-session-manage.html">
	<div class="modal-header">
	<h2>Manage session {{scd_session.scd_rota_code}} ({{ scd_session.scd_date | easydate }}) </h2>
	<br/>
	<form class="form-inline" name="form.sessionManage" ng-submit="submitForm()" novalidate>
	</form>
	<div class="form-group">
	
	<span ng-show="scd_session.scd_status == 'requested' || scd_session.scd_status == 'requestto'">
		<h3>Note: This session has an active request to swap with another: </h3>
		{{ scd_session.scd_request_by.scd_user_username }} {{ scd_session.scd_request_by.scd_date }} 
		{{ scd_session.scd_request_to.scd_user_username }} {{ scd_session.scd_request_to.scd_date }} <br/>
		<button type="submit" class="btn btn-warning" ng-click="managerActionSwap()">Action this swap</button>
		<button type="submit" class="btn btn-warning" ng-click="removeSwap()">Remove this swap</button>
		
	</span>
	
	<tabset ng-hide="scd_session.scd_status == 'requested' || scd_session.scd_status == 'requestto'">
		<tab heading="Assign to another user">
			<h4>Select user:</h4>
			<select ng-model="new_user" ng-options='user as  user.display_name+" ("+user.username+")" for user in users()'></select><br/>
			<button type="submit" class="btn btn-success" ng-click="assignToMember(new_user)">Assign</button>
		</tab>
		<tab heading="Swap with another session">
			<h4>Select a session to swap with</h4>
			<select ng-model="new_sess" ng-options='sess as  sess.scd_date.toDateString()+" ("+sess.scd_user_username+")" for sess in otherSessions()'></select><br/>
			<button type="submit" class="btn btn-success" ng-click="swapWithSession(new_sess)">Swap</button>
		</tab>
		<tab heading="Remove">
		<h4>If you are sure you wish to remove:</h4>
			<button type="submit" class="btn btn-success" ng-click="remove(scd_session)">Remove</button>
		</tab>
	</tabset>
	
	</div>
	</div>
</script>

		<span ng-repeat="member in $rootScope.members">{{member.username}}</span>
	<tabset>
	
		<tab ng-repeat="rota in rotalist" heading="{{rota.rot_description}}" active="rota.active">
			<div ng-controller="DatepickerDemoCtrl">
			<form name="{{rota.rot_code}}">
			<accordion close-others="true">
				<!--<accordion-group heading="Repeat a selection">
				</accordion-group>-->
			</form>	
			</accordian>
			<span class="btn btn-primary" ng-click="addRepeatForm(rota)">Repeat a selection</span>
			<span class="btn btn-primary" ng-click="addShiftForm(rota)">Create shifting pattern</span>
			<span class="btn btn-primary" ng-click="delRepeatForm(rota)">Remove a selection</span>
			<span class="btn btn-primary" ng-click="replaceUserForm(rota)">Replace a person</span>
			<span class="btn btn-primary" ng-click="getMonth(monthoffset)">Get month</span>
			<span class="btn btn-primary" ng-click="getAll()">Get all</span>
				
			</div>
			
			<div ng-show="viewType == 'Rota'">
			<table>
				<thead>
				<tr>
				<th></th>
				<th>Date</th>
				<th>Sessions</th>
				<th></th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="mydate in dates">
				<td ng-show="setrepeat"><label class="btn btn-primary">S</label><td>
				<td>
				{{mydate.toDateString()}}
				</td>
				<td>
				<span ng-display="allrotas[rota.rot_code][mydate.toDateString()].length">
				<span class="btn btn-primary"  ng-class="{requested:'btn-warning',requestto:'btn-warning'}[scd_session.scd_status]" ng-repeat="scd_session in allrotas[rota.rot_code][mydate.toDateString()]" ng-click="sessionManage(scd_session)">
					{{scd_session.scd_user_username}}
				</span>
				</span>
				</td>
				<td>
				<span ng-click="addSessionForm(mydate,rota,$rootScope.members)">
					<a href="#"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Add member</a>
				<br/>
				</td>
				</span>
				</td>
				</tr>
				</tbody>
			</table>
			</div>
			
			<div class="jumbotron" ng-show="viewType =='Month'">
			
			<div style="text-align:center">
			<div class="btn" style="float:right" ng-click="viewSessionBreakdown(monthoffset)">session breakdown</div>
			<h3>
			<span class="btn glyphicon glyphicon-menu-left" ng-click="getMonth(monthoffset-1)"></span>
			{{ month(dates[8].getMonth()) }} - {{ dates[8].getFullYear() }}
			<span class="btn glyphicon glyphicon-menu-right" ng-click="getMonth(monthoffset+1)"></span>
			</h3>
			</div>
			<table  class="table-bordered" >
			<thead><tr>
			<th ></th>
			<th ng-repeat="day in dates track by $index" ng-if="$index < 7">
				<div style="text-align: center">{{ weekday(day.getDay()) }}</div>
			</th>
			</tr></thead>
			
			<!-- we show a month at a time but display all the rotas -->
			<!-- columns are days -->
			<!-- rows are rotas -->
			<tbody ng-repeat="day in dates track by $index" ng-if="$index%7==0" >
			
				<tr>
					<td class="col-xs-1"></td>
					<td class="col-xs-1" ng-repeat="i in [$index,$index+1,$index+2,$index+3,$index+4,$index+5,$index+6]" ng-if="dates[i]!=null">
						<div ng-show="dates[8].getMonth() == dates[i].getMonth() "  style="text-align: center">{{ dates[i].getDate() }} </div>
					</td>
				</tr>
			
				<tr ng-repeat="rota in rotalist">
				  <!-- this repeat sets a new index -->
				  <td class="col-xs-1" >{{rota.rot_code}}</td>
				  <td class="col-xs-1"   ng-repeat="i in [$parent.$index,$parent.$index+1,$parent.$index+2,$parent.$index+3,$parent.$index+4,$parent.$index+5,$parent.$index+6]" >
					<div class="col-xs-1">
						<div ng-show="dates[8].getMonth() == dates[i].getMonth() " class="btn btn-xs btn-primary" ng-class="{requested:'btn-warning',requestto:'btn-warning'}[scd_session.scd_status]"  ng-repeat="scd_session in allrotas[rota.rot_code][dates[i].toDateString()]"  ng-click="sessionManage(scd_session)">
							<b> {{scd_session.scd_user_username}}</b>
						</div>
					</div>
				  </td>
				</tr>	
				
			</tbody>
			</table>
			
			<ol>
			<dt>TODOs</dt>
			<li>unable to swap with session out of the boundary of the month using this view (though you can re assign to anyone)</li>
			</ol>
<!--		<div class="row" >
			<div class="col-xs-1"></div>
			<div ng-repeat="day in dates track by $index" ng-if="$index < 7">
				<div class="col-xs-1" style="text-align: center">{{ weekday(day.getDay()) }}</div>
			</div>
			</div>
			
			<div ng-repeat="day in dates track by $index" ng-if="$index%7==0">
				<div class="row">
				  <div class="col-xs-1"></div>
				  <div class="col-xs-1 letter-box" ng-repeat="i in [$index,$index+1,$index+2,$index+3,$index+4,$index+5,$index+6]" ng-if="dates[i]!=null">
					<div style="text-align: center">{{ dates[i].getDate() }} </div>
				  </div>
				</div>

				<div class="row"  ng-repeat="rota in rotalist">
				  <div class="col-xs-1" >{{rota.rot_code}}</div>
					  <div class="col-xs-1 letter-box"   ng-repeat="i in [$parent.$index,$parent.$index+1,$parent.$index+2,$parent.$index+3,$parent.$index+4,$parent.$index+5,$parent.$inde+6]" >
					  <div class="col-xs-1">
						<div class="btn btn-xs btn-primary" ng-class="{requested:'btn-warning',requestto:'btn-warning'}[scd_session.scd_status]"  ng-repeat="scd_session in allrotas[rota.rot_code][dates[i].toDateString()]"  ng-click="sessionManage(scd_session)">
							<b> {{scd_session.scd_user_username}}</b>
						</div>
					  </div>
				  </div>
				</div>
			</div>	
-->
			</div>
		</tab>
	</tabset>
	
</div>

</div>
